.card {
    position: absolute;
    list-style: none;
    height: 60vh;
    min-height: 250px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
    line-height: 1.25;
    perspective: 1000px;
    transition: z-index 0.4s ease-in-out;

    .cards & {

        @for $i from 1 through 14 {
            &:nth-child(#{$i}) {
                top: 50px * $i;
                z-index: #{$i};
            }
        }
    }

    &.is-active {
        position: fixed;
        top: 20px;
        left: 5%;
        z-index: 100;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }

    &__flipper {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 20px;
        font-size: 14px;

        .card__back & {
            color: $white;
        }

        svg {
            pointer-events: none;

            .card__back & {
                fill: $white;
            }
        }
    }

    &__outer {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 0 5px transparentize($black, 0.75);
        transition: transform $animTime ease-in-out;
        transform-style: preserve-3d;

        .card.is-flipped & {
            transform: rotateY(180deg);
        }
    }

    &__inner {
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: $green;
    }

    &__front,
    &__back {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        backface-visibility: hidden;
    }

    &__front {
        text-align: center;
    }

    &__back {
        transform: rotateY(180deg);
        background-color: $accent-2;
        color: $white;
    }

    &__top {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: left;
    }

    &__preview {
        svg {
            width: 20px;
            height: 20px;
            fill: $black;
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        right: 0%;
        left: 0;
        padding-right: 10%;
        padding-left: 10%;
        transform: translateY(-50%);
    }

    &__title {
        color: $white;
        font-size: 80px;

        svg {
            width: 50%;
            height: auto;
            fill: $white;
        }
    }

    &__subtitle {
        text-transform: uppercase;
    }

    &__copy {
        font-size: 14px;
    }
}
