<div id="modal" class="modal">
    <div id="cardModal" class="cardModal card">
        <div class="card__outer">
            <div class="card__inner">
                <div class="card__front">
                    <div class="card__top">
                        <h4 class="card__preview card-preview--top" data-card-modal></h4>
                        <button class="card__flipper btn btn--flush" data-card-flip>
                            {% include '../svg-icon/reverse.svg' %}
                        </button>
                    </div>
                    <div class="card__bottom">
                        <h4 class="card__preview card__preview--bottom" data-card-modal></h4>
                    </div>
                    <div class="card__content">
                        <h1 class="card__title" data-card-modal></h1>
                    </div>
                </div>

                <div class="card__back">
                    <div class="card__top">
                        <button class="card__flipper btn btn--flush" data-card-flip>
                            {% include '../svg-icon/reverse.svg' %}
                        </button>
                    </div>
                    <div class="card__content">
                        <h3 class="card__subtitle">
                            Poker card<span class="c c--accent-1">.</span>
                        </h3>
                        <p class="card__copy">
                            This side up.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
